{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
    <link href="{{ url_for('static', filename='css/modal.css') }}" rel="stylesheet">
{% endblock %}


{% block title %}User Page{% endblock %}
    
{% block content %}
    <form method="POST">
        <label>Enter a Count (max=50)</label>
        <input type="search" name="count">
    </form>
{% endblock %}

{% block options %}
    {% if tracks %}
        {% include 'modal.html' %} 
    {% endif %}
    <div class="option">
        {% if tracks %}
            <button type="button" class="recommend btn btn-warning btn-modal" data-bs-toggle="modal" data-bs-target="#trackModal">
                View Recommendations
            </button>
        {% else %}
            <button type="button" class="recommend btn btn-warning">
                View Recommendations
            </button>
        {% endif %}
        <button type="button" class="logout btn btn-danger" data-bs-toggle="modal" data-bs-target="#logoutModal"><a class="exit">Logout</a></button>
    </div>

    <!-- Logout Modal -->
    <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title w-100" id="logoutModalLabel">Log Out of Spotify</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body fw-bold">
                    You will be redirected to Spotify to complete the logout process.
                </div>
                <div class="modal-footer">
                    <button type="button" class="options btn btn-primary btn-warning" onclick="redirectToSpotify()">Proceed to Spotify Logout</button>
                    <button type="button" class="options btn btn-secondary btn-danger" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
